.box-layout {
    align-items: center;//centered vertically
    background-image: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;//center to horizontally
    width: 100vw;
    height: 100vh;
}

.box-layout__box {
    background: fade-out($color:white, $amount: .15);
    border-radius: 3px;
    text-align: center;
    width: 20rem;
    padding: $m-size $s-size;

}
.box-layout__title {
    margin: 0 0 $s-size 0;
    line-height: 1;

}

