.input-group{
  display: flex;
  margin-bottom: $s-size;
  flex-direction: column;
  @media(min-width: 500px){
    flex-direction: row;
    margin-bottom: $s-size
  }
}
.input-group__item{
    margin-bottom: $xs-size;
    @media(min-width: 500px){
        margin-right: $xs-size;
        margin: 0 $xs-size 0 0;
      }
}

